@import "mixins";
@import "variables";

$padding: 15px;

.header {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1020;
}

@include mobile {
  .header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .collapsed {
    position: sticky;
  }
}

.container {
  padding-top: 15px;
  @include desktop {
    @include flex(space-between);
  }
}

.wrapper {
  @include flex(space-between);
}

.logo {
  @include flex;
  height: 120px;
  color: #202020;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  > svg {
    width: 40px;
    height: 45px;
    margin-right: 10px;
  }

  @include mobile {
    height: 50px;
    font-size: 24px;
    line-height: 30px;
    > svg {
      width: 30px;
      height: 33px;
    }
  }
}

.badge {
  margin-left: 8px;
}

.toggle {
  @include flex;

  @include desktop {
    display: none;
  }
}

.support {
  @include desktop {
    @include flex;
  }

  @include mobile {
    @include flex(center, flex-end);
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.connect {
  @include flex;
  padding-left: 15px;

  @include mobile {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 0px;
  }
}

.claim {
  @include flex;
}

.faq {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: $green;
  margin-right: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &.mobileOnly {
    display: none;
  }

  @include mobile {
    &.desktopOnly {
      display: none;
    }
    &.mobileOnly {
      display: block;
    }
  }
}

.claimButton {
  margin-left: 16px;
  height: 34px;
}

.hr {
  margin: 0;
}

.networkAlert {
  @include flex(center);

  background: #eee;
  padding: 10px;
}

.alertText {
  @include flex;

  color: gray;
  font-size: 14px;
  font-weight: 500;

  i {
    margin-right: 7px;
  }
}
