@import "mixins";
@import "variables";

.button {
  @include flex;
  @include button;
  @include transition(background-color);

  background-color: tranmirrorent;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: $green;
  color: $green;
  font-size: 13px;
  font-weight: 600;
  height: 34px;
  padding: 0 20px;

  &:hover {
    background-color: fade-out($green, 0.9);
    text-decoration: none;
  }

  i {
    margin-right: 5px;
  }
}

.address {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}
